.PetiteImage > img{
    width: 150px;
    height: 150px;
    padding: 4px 4px 4px;
    float: left;
    display: block;
    position: relative;
}


.ImageDecalee {
    float:unset;
    clear: left;}

.PetiteImage > img:hover {
    width: 300px;
    height: 300px;
    transition: clip;
    transition-delay: 200ms;
}