.PetiteImage > img{
    width: 150px;
    height: 150px;
    padding: 4px 4px 4px;
    float: left;
    display: block;
    position: relative;
}


.PetiteImage > a > img{
    float: unset;
    clear: both;
    width: 250px;
    height: 250px;
}

.ImageDecalee1 {
    float:unset;
    clear: left;}


.ImageDecalee2 {
    float: unset;
    clear: left;
}
